.body-contents
  @include panePadding

  // header offsets 
  #about, #skills, #workexp, #projects, #connect
    margin-top: -60px
    padding-top: 60px

  // Skills section
  .skills
    .fa-code, .fa-css3, .fa-js, .fa-bold, .fa-plus, .fa-python
      font-size: 3.5rem
      margin-top: 1.5rem

    .fa-code
      color: #e54d26

    .fa-css3
      color: #2163af

    .fa-js
      color: #f0db4f

    .fa-bold
      color: #563d7c

    .fa-plus
      color: #008080

    .fa-python
      color: #306998

    > div h2
      margin-top: 0.5rem

  .work
    margin-top: 1rem

  .project
    margin-bottom: 2rem

    img
      padding-top: 0.5rem

  .connect
    .fa-envelope, .fa-github, .fa-linkedin, .fa-instagram
      font-size: 4rem
      margin: 1rem
      transition: 0.2s ease

      &:hover
        transition: 0.1s ease

    .fa-envelope
      color: #d44638

      &:hover
        color: #F3C8C4

    .fa-github
      color: #6e5494

      &:hover
        color: #C9BEDA

    .fa-linkedin
      color: #0077B5

      &:hover
        color: #B8E6FF

    .fa-instagram
      color: #517fa4

      &:hover
        color: #B7CBDC
