$mobileWidth: 576px
$smWidth: 768px
$mdWidth: 992px
$lgWidth: 1200px
$maxWidth: 80rem

html
  scroll-behavior: smooth

body
  font-family: 'Roboto Slab', serif !important

.display-4
  font-weight: 400
  padding-top: 50px
  margin-top: -50px

@mixin panePadding
  max-width: $maxWidth
  transition: 0.2s ease

  @media (max-width: ($maxWidth + 2.1rem))
    padding-left: 2rem
    padding-right: 2rem

  @media (max-width: $smWidth)
    padding-left: 5rem
    padding-right: 5rem

p, ul, li, a
  font-weight: 300

a
  text-decoration: none
