nav {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

#face {
    height: auto;
    width: 70px;
    display: block;
}

.jumbotron {
    background-color: rgb(218, 246, 255) !important;
}

.jumbotron p {
    padding-top: 1.2rem;
    margin-bottom: 0.6rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.jumbotron h1 {
    margin-top: 0;
    font-family: 'Roboto Slab', serif;
}

.display-4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    padding-top: 50px;
    margin-top: -50px;
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.padding {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.padding .text-center p {
    margin-left: 6rem;
    margin-right: 6rem;
}

.welcome .display-4 {
    padding-bottom: 0.5rem;
}

.welcome p {
    padding-bottom: 1rem;
}

.fa-code, .fa-css3, .fa-js, .fa-bold, .fa-plus, .fa-python {
    font-size: 3.5rem;
    margin: 1rem;
}

.languages h3 {
    padding-bottom: 2rem;
}

.fa-code {
    color: #e54d26;
}

.fa-css3 {
    color: #2163af
}

.fa-bold {
    color: #563d7c;
}

.fa-js {
    color: #f0db4f;
}

.fa-plus {
    color: #113763;
}

.fa-python {
    color: #306998;
}

.social a {
    font-size: 4rem;
    padding: 3rem;
}

.fa-envelope {
    color: #dd4b39;
}

.fa-github {
    color: #211f1f;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-instagram {
    color: #517fa4;
}

.fa-envelope:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-instagram:hover {
    color: #d5d5d5;
}