



.padding {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.padding .text-center p {
    margin-left: 6rem;
    margin-right: 6rem;
}

.welcome .display-4 {
    padding-bottom: 0.5rem;
}

.welcome p {
    padding-bottom: 1rem;
}

.fa-code, .fa-css3, .fa-js, .fa-bold, .fa-plus, .fa-python {
    font-size: 3.5rem;
    margin: 1rem;
}


.media li {
  padding: 0.1rem;
}

.languages h3 {
    padding-bottom: 2rem;
}

.fa-code {
    color: #e54d26;
}

.fa-css3 {
    color: #2163af
}

.fa-bold {
    color: #563d7c;
}

.fa-js {
    color: #f0db4f;
}

.fa-plus {
    color: #113763;
}

.fa-python {
    color: #306998;
}

.social a {
    font-size: 4rem;
    margin: 3rem;
    text-decoration: none !important;
}

.fa-gamepad {
  font-size: 8rem;
}

.fa-envelope {
    color: #dd4b39;
}

.fa-github {
    color: #6e5494;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-instagram {
    color: #517fa4;
}

.fa-envelope:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-instagram:hover {
    color: #d5d5d5;
}

@media (max-width: 576px) {
  .nav-container .nav-contents {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.3s
  }
}

@media (max-width: 768px) {
  .nav-item {
    padding-left: 0rem
  }
}
